.input-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 10px;
}