@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 min-w-[320px] min-h-screen bg-gray-50 text-gray-900;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  #root {
    @apply w-full min-h-screen;
  }
}
